<div class="container">
  <div class="form-body table table-striped">
    <table border="1"
           width="100%"
           style="table-layout: fixed;
               padding-top: 0;"
    >
      <tr style="text-align: center;">
        <td width="50px">ID</td>
        <td width="250px">Name</tdwidth>
<!--        <td width="100px">Number</td>-->
        <td width="130px">Department</td>
        <td>TextBook</td>
<!--        <td>Season</td>-->
<!--        <td>grade</td>-->
<!--        <td>evaluation</td>-->
      </tr>
      <% @time_schedules.each do |time_schedule| %>
        <tr>
          <td><%= time_schedule.id %></td>
          <td><%= link_to(time_schedule.name, "https://syllabus.kyoto-su.ac.jp/syllabus/html/2018/#{time_schedule.id}.html") %></td>
<!--          <td><%#= time_schedule.number %></td>-->
          <td><%= time_schedule.department %></td>
          <td width="200px" style="word-wrap : break-word;"><%= time_schedule.textbook %></td>

<!--          <td><%#= time_schedule.season %></td>-->
<!--          <td><%#= time_schedule.grade %></td>-->
<!--          <td style="word-wrap : break-word;"><%#= time_schedule.evaluation %></td>-->
        </tr>
      <% end %>
    </table>
    <% link_to('次のスクレイピングをする', '/classlist/scraiping') %>
  </div>
</div>
