
<!--<div>-->
  <div class="container">
    <h1 class="form-header" >授業を登録する</h1>
    <%= form_for :registrate, url: '/registration/create' do |f| %>
      <p>
        <%= f.text_field :name, placeholder: 'enter name' %>
      </p>
      <%= f.submit %>
    <% end %>


    <%#= form_tag('/registration/create',:method => :post) do %>
<!--    <div class="form">-->
<!--      <div class="form-body">-->
<!--        <textarea name="name"></textarea>-->
<!--        <input type="submit" value="登録">-->
<!--      </div>-->
<!--    </div>-->
      <%# end %>
  </div>
<!--</div>-->
