<div class="container">
  <div class="form-body">




    <%#= from_tag(search_path, :method => 'get') do %>
      <%#= text_field_tag :search %>
      <%#= submit_tag 'Search', :name => nil %>
    <%# end %>

<!--    <ul><%# @classes.each do |class| %>-->
<!--        <li>-->
          <%#= link_to class.name, post %>
          <%#= class.created_at %>
          <%#= class.status %>
<!--        </li>-->
        <%#= link_to "編集",edit_post_path(post) %>
        <%#= link_to "削除",post, method: :delete %>
      <%# end %>
<!--    </ul>-->
  </div>
</div>