<div class="container">
  <div class="form-body">
    <%= form_tag("/login") do %>
      名前
      <p>
        <input name="name" value="<%= @name %>">
      </p>
      メールアドレス
      <p>
        <input name="email" value="<%= @email %>">
      </p>
      <p>
        <input type="submit" value="Login">
      </p>
    <% end %>
  </div>
</div>
