/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
    /*width: 100%;*/
    height: 100px;
    background-color: lightsalmon;
    color: white;

}

table {
    border-collapse: collapse;
}

th, td {
    border: solid 1px;
    padding: 0.5em;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-logo {
    float: left;
    color: white;
    font-size: 30px;
    padding: 30px 30px;
}

.header-menu li {
    float: right;
    padding: 40px 10px;

}

.error {
    font-size: 12px;
    font-weight: bold;
    color: red;
}

.main {
    padding-left: 100px;
}

.main li {
    font-size: 50px;
}
.category {

}

